:root {
  --game-container-width: 70%;
  --intro-title: 5rem;
  --board-meta-font: 3rem;
  --board-meta-height: 125px;
  --board-height: 600px;
  --board-width: 100%;
  --cell-size: 33.3%;
  --symbol-size: 9rem;
  --font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";

  font-family: var(--font-family);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

#game-container {
  width: var(--game-container-width);
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#intro h1 {
  font-size: var(--intro-title);
}

#game-meta {
  height: var(--board-meta-height);
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

#player-turn {
  position: relative;
  left: 10px;
}

#game-meta h2 {
  font-size: var(--board-meta-font);
  justify-content: center;
}

#game-board {
  background-color: azure;
  height: var(--board-height);
  width: var(--board-width);
  display: flex;
  flex-direction: column;
}

.board-row {
  display: flex;
  flex-basis: var(--cell-size);
  max-height: var(--cell-size);
}

.board-square {
  border: solid 1px;
  flex-basis: var(--cell-size);
  max-width: var(--cell-size);
  display: flex;
  align-items: center;
  justify-content: center;
}

.mark-board {
  font-size: var(--symbol-size);
}
